@model IntelliHome.Cloud.AccountForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>
<div asp-validation-summary="All"
     class="text-danger">
</div>


@if (ViewBag.Message != null)
{
    <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
}
<form method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email"
               class="form-control" />
    </div>
    <br/>
    <button type="submit"
            class="btn btn-primary">
        Send Email
    </button>
</form>